.projects-container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.projects-title {
  text-align: center;
  font-size: 40px;
}

.projects-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 22px;
}

.projects-subtitle {
  text-align: center;
  font-size: 22px;
  padding-left: 18px;
  color: var(--text-secondary);
}

.project-card {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 3px 5px 12px var(--glass-shadow);
  transition: all 0.3s ease;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.project-image-container {
  position: relative;
  height: 200px;
  overflow: hidden;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--glass-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px var(--glass-shadow);
}

.project-card:hover .project-overlay {
  opacity: 1;
}

.project-card:hover .project-image {
  transform: scale(1.1);
}

.project-actions {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}

.project-button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  background: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: all 0.3s ease;
  font-size: 14.4px;
}

.project-button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-projects-title);
  padding: 16px;
  flex-grow: 1;

}

.project-title {
  margin: 0 0 8px;
  font-size: 24px;
  color: linear-gradient(45deg, var(--text-primary), #c3c7d5);
}

.project-description {
  margin: 0 0 16px;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  flex-grow: 1;
}

.project-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: auto;
  justify-content: center;
  align-items: center;
}

@media (max-width: 820px) {

  .projects-grid {
    padding: 6px;
  }
}