.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  gap: 22px;

}

.projects-title {
  text-align: center;
  font-size: 30px;
}

.projects-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 22px;
}

.projects-subtitle {
  text-align: center;
  font-size: 20px;
  padding-bottom: 6px;
  color: var(--text-secondary);
}

.project-card {
  display: flex;
  flex-direction: column;
  width: 400px;
  background: var(--skills-chip-bg);
  border: 1px solid var(--skills-chip-border);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 3px 5px 12px #0006;
  transition: all .2s ease;
}

.project-image-container {
  position: relative;
  overflow: hidden;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--glass-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px var(--glass-shadow);
}

.project-card:hover .project-overlay {
  opacity: 1;
}

.project-card:hover .project-image {
  transform: scale(1.1);
}

.project-actions {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}

.project-button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  background: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: all 0.3s ease;
  font-size: 14.4px;
}

.project-button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-projects-title);
  padding: 8px;
  flex-grow: 1;

}

.project-title {
  margin: 0 0 8px;
  font-size: 18px;
  color: linear-gradient(45deg, var(--text-primary), #c3c7d5);
}

.project-description {
  margin: 0 0 12px;
  text-align: center;
  font-size: 14px;
  line-height: 1;
  flex-grow: 1;
}

.project-skills {
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  gap: 4px;

  .skill-tag {
    font-size: 14px;
    text-align: center;

  }
}

@media (max-width: 820px) {

  .projects-section {
    padding-top: 34px;
  }

  .projects-container {
    gap: 14px;
  }

  .project-card {
    width: 300px;
  }

  .projects-grid {
    padding: 6px;
  }
}