.about-container {
  display: flex;
  justify-content: space-around;
  color: $clr3;
  background: $clr5;
  padding: 50px 20px;

  span {
    color: $clr3;
  }
  h2 {
    font-size: rem(24px);
    color: $clr3;
  }

  img {
    width: 130px;
    height: 130px;
    border-radius: 20%;
  }

  p {
    margin: 0 0 0 20px;
    font-size: rem(22px);
    color: $clr3;
  }
}

@media screen and (max-width: 400px) {
  .about-container {
    flex-direction: column;
    font-size: rem(14px);
    padding: 30px 10px;

    p {
      font-size: rem(12px);
      margin: 0;
    }

    .about-img {
      display: none;
      img {
        width: 140px;
        height: 140px;
      }
    }
  }
}

@media screen and (max-width: 970px) {
  .about-container {
    font-size: rem(16px);

    p {
      font-size: rem(18px);
    }
    .about {
      img {
        width: 200px;
        height: 200px;
      }
    }
  }
}

@media screen and (min-width: 1080px) {
  .about-container {
    align-items: center;
    font-size: rem(24px);

    img {
      width: 150px;
      height: 150px;
    }
    h2 {
      margin: 0;
    }
  }
}

span {
  font-size: rem(18px);
  color: $clr1;
  align-self: flex-end;
}
