.main-nav {
  padding: 20px 0;
  background-color: $clr3;
  width: 100%;
  font-size: 2.1875rem;
  font-weight: 600;

  .info {
    color: $clr5;
    display: flex;
    justify-content: space-around;

    a {
      color: $clr5;
      font-size: rem(25px);
      padding: 0 25px;
      list-style: none;
      text-decoration: none;
      cursor: pointer;
      &:hover {
        color: $clr5;
        cursor: pointer;
      }
    }
  }
}

@media screen and (min-width: 1080px) {
  .main-nav {
    font-size: rem(24px);
    a {
      margin: 20px;
    }
  }
}
