.main-layout {
  display: grid;
  grid-template-columns: $layoutPadding auto $layoutPadding;
  > * {
    grid-column: 1;
  }

  > *.full {
    grid-column: 1 / -1;
  }

  @include for-narrow-layout {
    @include layoutGTC($break-narrow);
  }

  @include for-normal-layout {
    @include layoutGTC($break-normal);
  }
  @include for-wide-layout {
    @include layoutGTC($break-wide);
  }
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  gap: 20px;
  grid-auto-flow: dense;

  > * {
    display: grid;

    align-items: center;
    justify-items: center;

    > * {
      grid-area: 1 / 1;
    }
  }
}

.header-container {
  max-width: $break-normal;
  // margin: 0 auto;
  padding-left: 5px;
  padding-right: 5px;
  padding: 10px;

  @include for-narrow-layout {
    @include layoutGTC($break-narrow);
  }

  @include for-normal-layout {
    @include layoutGTC($break-normal);
  }
  @include for-wide-layout {
    @include layoutGTC($break-wide);
  }
}

// GRIDS
.simple-cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 30px;
}
