@use "variables" as variables;
@use "components/_projects";
@use "components/_skills";
@use "components/_console";
@use "components/_footer";
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

/* Add to your global CSS */
.highlight {
  animation: glowHighlight 0.5s ease-in-out;
  outline: 3px solid var(--primary-color);
  outline-offset: 5px;
  border-radius: 10px;
}

@keyframes glowHighlight {
  0% {
    outline-color: rgba(255, 255, 255, 0);
  }

  50% {
    outline-color: var(--primary-color);
  }

  100% {
    outline-color: rgba(255, 255, 255, 0);
  }
}