.theme-toggle {
  width: 60px;
  height: 30px;
  border-radius: 999px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;

  display: inline-flex;
  align-items: center;

  &[data-theme="light"] {
    background: linear-gradient(135deg, #ffd54f, #ffb300);
  }
}

.theme-toggle__thumb {
  position: absolute;
  top: 3px;
  left: 4px;

  width: 24px;
  height: 24px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #0f172a;
  color: #ffd54f;

  transition: all 0.3s ease;
}

.theme-toggle[data-theme="light"] .theme-toggle__thumb {
  transform: translateX(30px);
  background: #fff8e1;
  color: #f59e0b;
}