// COLOR PALETTE
$clr1: #6b6e7bba; //
$clr2: #d2d2d2; // hover
$clr3: #fffffff8; //main background
$clr4: #f4f4f4;
$clr5: #171717f2;
$clr6: #d0ccc0;

// LAYOUT
$layoutPadding: 200px;
$headerLayoutPadding: 60px;

// LAYOUT BREAKPOINTS
$break-narrow: 375px; //mobile
$break-normal: 960px;
$break-wide: 1080px; // desktop

$padded-break-narrow: $break-narrow + $layoutPadding;
$padded-break-normal: $break-normal + $layoutPadding;
$padded-break-wide: $break-wide + $layoutPadding;
